<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6>{{mensajeUbicacion}}</h6>
  
  <div >
    <ion-button size="default">
      <ion-icon src="assets/icon/image-regular.svg"></ion-icon>
    </ion-button>
    <ion-button size="default" (click)="obtenerUbicacion()">
      
      <ion-icon src="assets/icon/location-dot-solid.svg"></ion-icon>
    </ion-button>
  </div>
  


 
</ion-content>
